<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/styleLogin.css">
</head>
<body>
  <div class="login-container">
    <img src="https://osaneks.edu.ba/wp-content/uploads/2021/02/OS-Aneks-logo-300x300-1.png" alt="Logo" width="150" height="150">
    <h2>Prijava</h2>
    <form action="/login" method="POST">
      <label for="username">Korisnicko ime:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Sifra:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Prijavi se</button>
    </form>
  </div>
</body>
</html>
