
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <title>Prikaz narudžbi</title>
  <link rel="stylesheet" type="text/css" href="styleSveNarudzbe.css">
</head>
<body>
  <h1>Prikaz narudžbi</h1>

  <div id="narudzbe"></div>

  <script src="scriptSveNarudzbe.js"></script>
</body>
</html>
