body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #d88315;
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  color: #d88315;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
}

.menu {
  border: 1px solid #ddd;
  background-color: #fff;
}

.cart {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.cart-items th,
.cart-items td {
  border-bottom: 1px solid #ddd;
}

.cart-total {
  margin-top: 10px;
  text-align: right;
}

.btn-cart-action {
  display: inline-block;
  padding: 2px 8px;
  border: none;
  background-color: #d88315;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cart-action:hover {
  background-color: #c67213;
}

.btn-cart-action:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-group label {
  color: #d88315;
  font-weight: bold;
}

.form-control {
  border: 1px solid #ddd;
}

.btn-order {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #d88315;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-order:hover {
  background-color: #c67213;
}
.add-to-cart {
  border: none;
  background-color: #d88315;
}
.add-to-cart:hover {
  background-color: #c67213;
}